#nav{
  background-color: #3498DB;
  background-image:linear-gradient(to right, #3498DB, white);
  padding: 25px;
  text-align: right;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  
}

#home{
    border-radius: 4px;
    padding: 10px;
	background-color: #00cc99;
	box-shadow: 1px 1px black;
	text-decoration: none;
	cursor: pointer;
	transition: ease-out 0.3s;
	z-index: 1;
	
}

#about{
    border-radius: 4px;
    padding: 10px;
	background-color: #00cc99;
	box-shadow: 1px 1px black;
	text-decoration: none;
	cursor: pointer;
	transition: ease-out 0.3s;
	z-index: 1;
	
}

#contact{
    border-radius: 4px;
    padding: 10px;
	background-color: #00cc99;
	box-shadow: 1px 1px black;
	text-decoration: none;
	cursor: pointer;
	transition: ease-out 0.3s;
	z-index: 1;
}

#login{
   border-radius: 4px;
    padding: 10px;
	background-color: #00cc99;
	box-shadow: 1px 1px black;
	text-decoration: none;
	cursor: pointer;
	transition: ease-out 0.3s;
	z-index: 1;
}

#home:hover{
    background-color: #003300;
	color:white;
	
}


#about:hover{
    background-color: #003300;
	color:white;
}

#contact:hover{
    background-color: #003300;
	color:white;
}

#login:hover{
    background-color: #003300;
	color:white;
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background-image: url(Images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width:100%;
    padding: 40px 0;
}

.logo{
    font-size: 30px;
    padding: 40px 70px;
    letter-spacing: 3px;
    float: left;
}

.logo1{
    padding: 0px 20px;
    justify-content: center;
    align-items: left;
}

.logo h3 a{
	text-decoration:none;
    color: black;
    text-shadow: 1px 1px grey;
}


.list{
    padding: 20px;
}


.container{
    border: 2px solid black;
    position: center;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    padding: 40px 30px;
    right: 20px;
    top: 120px;
    box-shadow: 2px 2px grey;
	margin: 50px 450px;
}

.container h3{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    letter-spacing: 3px;
}
#btn{
    padding: 15px 15px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 98px;
}

.foot{
   background-image:linear-gradient(to right, #3498DB, white);
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
